@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Online Cargomanagement</h1>
   
</div>
<div class="card bg-dark text-black-50">
    <div class="container-fluid">

        <img src="~/Sprint1/R.jpg" class="img" alt="" height="550" image-size="cover">

        <div class="card-img-overlay">

            <h5 class="card-title"></h5>""
            <h1 class="display-4">Welcome to Online Cargomanagement</h1>
            <p class="card-text"> Online Cargo Management Service</p>
            <p class="card-text"></p>
        </div>
    </div>
    </div>



