
@model cargomanagementsystem.Entity.Model.Transaction

<div class="row">
    <div class="col-12">
        <h3>Bill</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                   // <th> Bill_no</th>
                    <th> Sender_id</th>
                    <th>Type_of_goods</th>
                    <th>Goods_Qty</th>
                    <th>Trans_amount</th>
                    <th>Sending_date</th>
                    <th>Receiver_date</th>
                    <th>Source</th>
                    <th>Destination</th>
                    
                    <th>Edit</th>
                   
                </tr>
            </thead>
            <tbody>
              
               
                 
                    <tr>
                       // <td>Transaction.Bill_no</td>
                        <td>Transaction.Sender_id</td>
                        <td>Transaction.Type_of_goods</td>
                        <td>Transaction.Goods_Qty</td>
                        <td>Transaction.Trans_amount</td>
                        <td>Transaction.Sending_date</td>
                        <td>Transaction.Receiver_date</td>
                        <td>Transaction.Source</td>
                        <td>Transaction.Destination</td>
                       
                        <td><a asp-controller="Transaction" asp-action="UpdateTransactiondetails">Edit</a></td>
                       
                    </tr>
}
            </tbody>
        </table>
    </div>
</div>
